{{define "moreStyles"}}
<style>
.tool-form {
	padding: 1rem;
}
.options {
	padding-bottom: 1rem;
}
.option {
	font-size: 0.8rem;
}
.desc {
	font-size: 0.9rem;
	line-height: 1.5rem;
	padding: 0.5rem;
}
#info {
	padding-left: 0;
	text-decoration: none;
}
</style>
{{end}}

{{define "content"}}
<div class="row-fluid">
	<div class="span10">
		<form class="box-rounded tool-form" action="/myagol" method="post">
			<div class="control-group options">
				<div class="controls">
					<label class="radio">
						<input type="radio" name="f" id="fhtml" value="html" checked="checked"/>
						Display My ArcGIS Online Information on a Web Page
						<p class="muted option">At this time this is the only option available</p>
					</label>
					
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn">Get My ArcGIS Online Information</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="row-fluid">
	<div class="span10 box-rounded desc">
		<div>
			<button id="info" agoltools-toggle="desc" class="btn btn-link">Tool Info <i class="icon-chevron-right"></i></button>
		</div>

		<div id="desc" class="hide">
			<p>
				This tool displays your ArcGIS Online information on a single web page.
			</p> 
			<p>
				Information includes your profile, content, groups, organization and subscription.
			</p>
		</div>

	</div>
</div>
{{end}}

{{define "moreJS"}}
<script type="text/javascript">
require(['agoltools'], function(agoltools) {
	agoltools.toggler();

	$("#folderUrl").focus();
});
</script>
{{end}}