{{define "moreStyles"}}
<style>
	.agoltools {
		font-size: 1rem;
		font-weight: bold;
	}
	.desc {
		font-weight: normal;
		font-size: 0.9rem;
	}
</style>
{{end}}

{{define "content"}}
<div class="row-fluid">
	<div class="span12 agoltools">
		<ul>
			<li>
				<a href="/addfolderservices">Add Folder Services</a>
				<p class="muted desc">Adds all services from an ArcGIS Server folder into your ArcGIS Online account</p>
			</li>
			<li>
				<a href="/orgusers">Get Organization Users</a> (admin only)
				<p class="muted desc">Display or download your organization's users</p>
			</li>
		</ul>
	</div>
</div>
{{end}}