{{define "moreStyles"}}
<style>
	.agoltools {
		font-size: 1rem;
		font-weight: bold;
	}
	.desc {
		font-weight: normal;
		font-size: 0.9rem;
	}
</style>
{{end}}

{{define "content"}}
<div class="row-fluid">
	<div class="span12 agoltools">
		<ul>
			<li>
				<a href="/myagol">My ArcGIS Online Information</a>
				<p class="muted desc">Displays your ArcGIS Online information (profile, content, groups, organization and subscription info)</p>
			</li>
			<li>
				<a href="/addfolderservices">Add Folder Services</a>
				<p class="muted desc">Adds all services from an ArcGIS Server folder into your ArcGIS Online account</p>
			</li>
			<li>
				<a href="/orgusers">Get Organization Users</a> (admin only)
				<p class="muted desc">View or download your organization's users</p>
			</li>
			<li>
				<a href="/webmapurls">Find Web Maps With URL</a>
				<p class="muted desc">Find Web Maps that reference a specified service URL. View or download details of the web maps found</p>
			</li>
			<li>
				<a href="/registeredapps">My Registered Apps</a>
				<p class="muted desc">View or download information on all your registered apps</p>
			</li>
			<li>
				<a href="/registeredappsloginstats">My Registered Apps Login Stats</a>
				<p class="muted desc">View or download login information on all your registered apps</p>
			</li>
		</ul>
	</div>
</div>
{{end}}