{{define "moreStyles"}}
<style>
	.agoltools {
		font-size: 1rem;
		padding: 0.5rem;
	}
</style>
{{end}}

{{define "content"}}
<div class="row-fluid">
	<div class="span12 box-rounded agoltools">
		<p>
			ArcGIS Online is a collection of tools for your 
			<a href="https:/www.arcgis.com">ArcGIS Online</a> account.
		</p>
		<p>
			If you'd like to see a particular tool implemented you can describe and add it 
			<a href="https://github.com/keyurva/agoltools/issues">here</a>.
		</p>
		<p>
			This application is built using <a href="https://code.google.com/p/go/">Go</a> and <a href="https://github.com/twbs/bootstrap">Bootstrap</a>. 
			The code is hosted on <a href="https://github.com/keyurva/agoltools">github</a> and the application itself is hosted on 
			<a href="https://developers.google.com/appengine/">appengine</a>.
		</p>
		<p>
			You can report issues, feedback, comments and feature requests in the project's 
			<a href="https://github.com/keyurva/agoltools/issues">issues</a> section.
		</p>
	</div>
</div>
{{end}}