body {
	font-size: 20px;
	letter-spacing: 1px;
	line-height: 1.5rem;
	padding-bottom: 2rem;
}

.box-rounded {
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.agoltools-img {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #eee;
	-webkit-box-shadow: 0 0 8px #444;
	-moz-box-shadow: 0 0 8px #444;
	box-shadow: 0 0 8px #444;
}

.focus {
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	color: #444;	
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}

.success {
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	color: #f5f5f5;
	background-color: #458b74;
	border: 1px solid #376;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
}

.failure {
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	color: #f5f5f5;
	background-color: #f55555;
	border: 1px solid #e55;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
}

.agoltools-header-row {
	margin-top: 0.5rem;
	border-bottom: #ccc solid 1px;
	font-size: 0.7rem;
	letter-spacing: normal;
}

.agoltools-header-row [class^="span"] {
	min-height: 0;
	font-weight: bold;
	color: #aaa;
}

.agoltools-header-row img {
	height: 1rem;
}

.agoltools-header-row .dropdown i {
	position:relative;
	bottom:0.1rem;
}

.agoltools-header-row .dropdown ul {
	min-width:0;
	letter-spacing:1px;
}

.agoltools-header-row .dropdown li a {
	font-weight: bold;
}

.agoltools-header-row .right-panel {
	text-align: right;
}

.agoltools-header-row .user-info {
	margin-right: 0.25rem;
}

@media(max-width: 767px) {
	.agoltools-header-row .right-panel {
		text-align: left;
	}
}