{{define "moreStyles"}}

<style>
.no-info {
	padding: 1rem;
}
.info {
	font-size: 1rem;
	margin-bottom: 1rem;
}
.meta {
	color: #999;
}
.info-img {
	margin-left: 0.5rem;
	margin-bottom: 0.5rem;
	max-width: 90%;
}

.items > .row-fluid {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.items > div[class=row-fluid]:nth-child(odd) {
	background-color: #fff;
}

.item-details p {
	line-height: normal;
}

.item-tags > a {
	padding-top: 0;
	padding-left: 0;
}

.url-desc {
	padding-bottom: 0.5rem;
}

.url-desc > p {
	line-height: normal;
}

.for-row {
	position: relative;
	top: -1rem;
	font-size: 0.9rem;
	letter-spacing: 1px;
}

.layers-btn {
	padding-left: 0;
	text-decoration: none!important;
}

.layers-panel {
	background-color: inherit;
	margin-top: 0.25rem;
	margin-right: 0.25rem;
	padding-left: 0.25rem;
	padding-bottom: 0.25rem;
}

.layer {
	word-break: break-all;
	font-size: 0.9rem;
}

@media(max-width: 767px) {
	.layers-panel {
		margin: 0.25rem;
		padding: 0.25rem;
	}
}
</style>

{{end}}

{{define "content"}}

	{{$auth := .Auth}}
	{{$portalHomeUrl := .PortalHomeUrl}}
	{{$url := .Data.URL}}
	{{$forOrg := eq .Data.For "org"}}

	<div class="row-fluid for-row">
		<div class="span12 muted">
			{{if $forOrg}}
				In My Organization's Content
			{{else}}
				In My Content
			{{end}}
		</div>
	</div>

	{{with .Data.WebMapItems}}

		<div class="row-fluid info">
			<div class="span12 focus">		
				<div class="row-fluid">
					<p>Web Maps ({{. | len}})</p>
					<div class="url-desc">
						<p>The Web Maps below reference the service URL </p>
						<p class="meta">{{$url}}</p>
					</div>
				</div>	
				<div class="row-fluid">
					<div class="span12 items">
						{{range .}}
							{{$itemUrl := printf "%s/item.html?id=%s" $portalHomeUrl .Id}}
							<div class="row-fluid">
								
								<div class="span3">
									{{with .RelativeThumbnailUrl}}
										<img class="agoltools-img info-img" src="{{portalUrl . $auth}}"/>
									{{else}}
										<img class="agoltools-img info-img" data-src="holder.js/200x133/text:No Image available"/>
									{{end}}
								</div>
								
								<div class="span9 item-details">
									<div>
										<a href="{{$itemUrl}}">{{.Title}}</a> 
										{{if $forOrg}}
											(<span class="meta">by</span> {{.Owner}})
										{{end}}										
									</div>
									<div>{{.Snippet}}</div>
									{{with .ModifiedTime}}
										<div class="meta">Last Modified: {{.Format "Jan 1, 2006"}}</div>
									{{end}}

									<div class="box-rounded layers-panel">
										<div>
											<button agoltools-toggle="{{.Id}}-layers" class="btn btn-link layers-btn">
												Layers ({{.NumLayers}}) <i class="icon-chevron-right"></i>
											</button>
										</div>

										<div id="{{.Id}}-layers" class="layers hide">
											{{if gt .NumBaseMapLayers 0}}
												{{with .BaseMap}}
													{{with .BaseMapLayers}}
														<p class="meta">BaseMap Layers</p>
														{{range .}}
															{{with .Url}}
																<p class="layer">
																	<a {{if eq . $url}}class="success"{{end}} href="{{.}}">
																		{{.}}
																	</a>
																</p>
															{{end}}
														{{end}}
													{{end}}
												{{end}}
											{{end}}
											{{if gt .NumOperationalLayers 0}}
												{{with .OperationalLayers}}
													<p class="meta">Operational Layers</p>
													{{range .}}
														{{with .Url}}
															<p class="layer">
																<a {{if eq . $url}}class="success"{{end}} href="{{.}}">
																	{{.}}
																</a>
															</p>
														{{end}}
													{{end}}
												{{end}}
											{{end}}											
										</div>
									</div>

								</div>
							</div>
						{{end}}
					</div>
				</div>
			</div>
		</div>

	{{else}}
		<div class="row-fluid">
			<div class="span12 focus no-info">
				No Web Maps referencing the URL you provided were found.
			</div>
		</div>
	{{end}}

{{end}}

{{define "moreJS"}}
<script type="text/javascript">
require(['agoltools'], function(agoltools) {
	agoltools.toggler();
});
</script>
{{end}}