{{define "moreStyles"}}

<style>
.no-info {
	padding: 1rem;
}
.info {
	font-size: 1rem;
	margin-bottom: 1rem;
}

.num-apps {
	padding: 0.25rem;
	font-weight: bold;
	font-size: 1.1rem;
}

.meta {
	color: #999;
}
.info-img {
	margin-left: 0.5rem;
	margin-bottom: 0.5rem;
	max-width: 90%;
}

.items > .row-fluid {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.items > div[class=row-fluid]:nth-child(odd) {
	background-color: #fff;
}

.item-details p {
	line-height: normal;
}

.app-info {
	margin-top: 0.25rem;
	border-top: #ddd solid 1px;
	padding-top: 0.25rem;
}

.csecret-btn {
	cursor: pointer;
}

.csecret-btn > i {
	position: relative;
	top: 0.1rem;
}

.ruris {
	word-break: break-all;
}

.ruri {
	margin-bottom: 0.1rem;
}
</style>

{{end}}

{{define "content"}}

	{{$auth := .Auth}}
	{{$portalHomeUrl := .PortalHomeUrl}}

	{{with .Data.RegisteredAppItems}}

		<div class="row-fluid info">
			<div class="span12 focus">		
				<div class="row-fluid text-center">
					<div class="num-apps">Registered Apps ({{. | len}})</div>
				</div>	
				<div class="row-fluid">
					<div class="span12 items">
						{{range .}}
							{{$itemUrl := printf "%s/item.html?id=%s" $portalHomeUrl .Id}}
							<div class="row-fluid">
								
								<div class="span3">
									{{with .RelativeThumbnailUrl}}
										<img class="agoltools-img info-img" src="{{portalUrl . $auth}}"/>
									{{else}}
										<img class="agoltools-img info-img" data-src="holder.js/200x133/text:No Image available"/>
									{{end}}
								</div>
								
								<div class="span9 item-details">
									<div>
										<a href="{{$itemUrl}}">{{.Title}}</a> 										
									</div>
									<div>{{.Snippet}}</div>

									<div class="app-info">
										<div class="row-fluid">
											<div class="span4 meta">Item ID</div>
											<div class="span8">{{.ItemId}}</div>
										</div>
										<div class="row-fluid">
											<div class="span4 meta">Client ID</div>
											<div class="span8">{{.Client_Id}}</div>
										</div>
										<div class="row-fluid">
											<div class="span4 meta">
												<span agoltools-toggle="{{.Id}}-csecret" class="csecret-btn">
													Client Secret<i class="icon-chevron-right"></i>
												</span>
											</div>
											<div id="{{.Id}}-csecret" class="span8 hide">{{.Client_Secret}}</div>
										</div>
										<div class="row-fluid">
											<div class="span4 meta">Redirect URIs ({{.Redirect_Uris | len}})</div>
											<div class="span8 ruris">
												{{with .Redirect_Uris}}
												{{range .}}
													<p class="ruri">{{.}}</p>
												{{end}}
											{{end}}
											</div>
										</div>
										{{with .RegisteredTime}}
											<div class="row-fluid">
												<div class="span4 meta">Registered On</div>
												<div class="span8">{{.Format "Jan 2, 2006"}}</div>
											</div>
										{{end}}
									</div>

								</div>
							</div>
						{{end}}
					</div>
				</div>
			</div>
		</div>

	{{else}}
		<div class="row-fluid">
			<div class="span12 focus no-info">
				No Registered Apps were found.
			</div>
		</div>
	{{end}}

{{end}}

{{define "moreJS"}}
<script type="text/javascript">
require(['agoltools'], function(agoltools) {
	agoltools.toggler();
});
</script>
{{end}}